<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="https://astpmeetup.github.io/#portfolio">Back to portfolio</a>
          </div>
      </div>
    </nav>
    <figure id="logout_figure">
      <a href="/logout"><img src="../images/logout.ico" id="logout">
      <figcaption>logout</figcaption></a>
    </figure>
    <h1 id="brello"><strong><%= title %></strong></h1>
    <h4 id="user_info">Signed in as <%= username %></h4>
    <br>
    <br>
    <div id="app"></div>
    <!-- <a href='#'  id="add_tag"><img src="../images/add_tag.png" alt="add tag" style="height:50px;">
    <figcaption>add tag</figcaption></a>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tag_menu" style="display: none;">
      <div id="list" style="padding: 15px;"><span id="hide_menu">X</span></div>
    </div> -->
    <script src="../javascripts/bundle.js"></script>
    <!-- <script src='../javascripts/uiscript.js'></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  </body>
</html>
