<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="https://astpmeetup.github.io/#portfolio">Back to portfolio</a>
          </div>
      </div>
    </nav>
    <figure id="logout_figure">
      <a href="/logout"><img src="../images/logout.ico" id="logout">
      <figcaption>logout</figcaption></a>
    </figure>
    <h1 id="brello"><%= title %></h1>
    <div id="intro" class="col-lg-12">
    <hr>
      <p>Utilizing mongoose population methods to link together JSON objects into custom lists. Passport.js allows each user to have their own secure profile.</p>
    <hr>
    </div>
    <h4 id="user_info"><i>Signed in as <%= username %></i></h4>
    <br>
    <br>
    <br>
    <div id="app"></div>
    <a href='#' id="add_tag"><img src="../images/add_tag.png" alt="add tag" id="addImage" style="height:60px;">
    <figcaption>add tag</figcaption></a>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tag_menu">
      <div id="list" style="padding: 15px;" class="col-lg-8"><span id="hide_menu">X</span></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <script src="../javascripts/bundle.js"></script>
    <!-- <script src='../javascripts/uiscript.js'></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  </body>
</html>
