<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backbone.js Brello App -Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" type='text/css'>
  </head>
  <body>
    <h2>Register</h2>
    <form action="/register" method="post">
      <label>Username
        <input type="text" name="username"/>
      </label>
      <br /><br />
      <label>Password
        <input type="password" name="password"/>
      </label>
      <br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
