body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#itemsCollection {
  margin: 20px;
}

#list {
  margin: 50px;
  background-color: #33ccff
}

#tag {
  margin: 10px;
}
